<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">Welcome to the IdeaBox App
    </div>
  </div><!-- /.container-fluid -->
  <button class="signin-button" onclick="location.href='/users/new'"> Sign Up</button>
</nav>

<div id="form-login" class="form-login">
  <%= form_for :session do |f| %>
    Username
      <div id="form-login-input" class="form-login-input">
        <%= f.text_field :username %><br>
      </div>

    Password
      <div id="form-login-input" class="form-login-input">
      <%= f.password_field :password %> <br>
      </div>

    <div id="form-login-submit" class="form-login-submit"><br>
         <%= f.submit "Login" %>
    </div>

  <% end %>
</div>
