// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/*
* Base structure
*/

html {
  align-items: center;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-align: center;
  height: 100%;
  background-color: #333;
  color: #47476b;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
* Login Page
*/

// form styling

.form-login {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.form-login-input {
  color: black;
}

.form-login-submit {
  color: black;
}

// sigin button at home page
.signin-button {
  font-size: 20px;
  float: right;
  font-weight: bold;
}

// sign in button at home page
.new-user {
  color: white;
}

// nav bar login page

.container-fluid {
  font-size: 40px;
  width: 600px;
}
.navbar {
  position: relative;
  min-height:40px;
  margin-bottom: 39px;
  border: 10px solid transparent;
}

/*
* User Page
*/

// table formatting

.table-ideas {
  color: white;
}
